
.calculator-body {
  max-width: 400px;
  margin: auto;
  
}


h1{
  text-align:center;
  display:block;
  background:#bbb;
  color:rgb(214, 54, 54);
  padding:10px;
}

.border{
  border: solid rgb(214, 54, 54) 5px;
  border-radius: 15px;
}



